*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 50%;
   
}

.div-img{
    display: flex;
    justify-content: center;
}
.img-log{
    width: 50%;
    height: auto;
    object-fit: contain;
}
.titulo{
    position: absolute;
    left: 45%;
    top: 20%;
    background-color:white;
    color:rgb(30, 28, 28);
    font-family: "Flexo-Regular",arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    border-radius: 5px;
}

/*buscador*/
.buscador{
    display: flex;
    margin: 0 200px;
    padding-bottom: 50px ;
    width: 100%;
  
}

.buscador-titulo{
    font-family: "Flexo-Regular",arial,sans-serif;
    font-size: 30px;
    margin: 10px;
   
   
} 
#buscar{
    width: 300px;
    height: 30px;
    margin: 10px;
}
.lupita{
    width: 30px;
    height: 30px;
    margin: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo{
    margin: 0 10px;
    width: 400px;
    height: 30px;
    padding: 2px;
    
}
.buscador-text{
    font-family: "Flexo-Regular",arial,sans-serif;
    font-size: 20px;
   
}

/*---------------------------------------main---------------------------------*/
/* categoria */

.section-categoria{
    display: flex;
    margin: 0 30%;
    justify-content: space-between;
    padding-top: 20px;
}
.butom-random{
width: 300px;
margin: 0 100px;
}

.butom-random>button{
    font-size:20px;
    width: 200px;
    height: 40px;
    font-family: "Flexo-Regular",arial,sans-serif;
}
.categoria{
    width: 200px;
}
.categoria>label{
    font-size: 20px;
}

/* activar un pokemos para que se vea o no*/
.pokemom-box:not(.activo){
    display: none;
}