*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 50%;
    background-color: azure;
}

.div-img{
    display: flex;
    justify-content: center;
}
.img-log{
    width: 50%;
    height: auto;
    object-fit: contain;
}
.titulo{
    position: absolute;
    left: 45%;
    top: 20%;
    background-color:white;
    color:rgb(30, 28, 28);
    font-family: "Flexo-Regular",arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    border-radius: 5px;
}

/*buscador*/
.buscador{
    display: flex;
    margin: 0 400px;
    padding-bottom: 50px ;
  
}

.buscador-titulo{
    font-family: "Flexo-Regular",arial,sans-serif;
    font-size: 30px;
   
   
} 
#buscar{
    width: 300px;
    height: 30px;
}
.lupita{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo{
    margin: 0 50px;
    
}
.buscador-text{
    font-family: "Flexo-Regular",arial,sans-serif;
    font-size: 20px;
}

/*---------------------------------------main---------------------------------*/
/* categoria */

.section-categoria{
    display: flex;
    margin: 0 30%;
    justify-content: space-between;
    padding-top: 20px;
}
.butom-random{
width: 300px;
margin: 0 100px;
}

.butom-random>button{
    font-size:20px;
    width: 200px;
    height: 40px;
    font-family: "Flexo-Regular",arial,sans-serif;
}
.categoria{
    width: 200px;
}
.categoria>label{
    font-size: 20px;
}