body {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.logo {
	margin-left: 20px;
	margin-bottom: 20px;
}


.buscar {
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 50px;
	width: 25%;
	height: 30px;
	padding: 12px;
	background-color: #f5f5f5;
	font-size: 16px;
	border: none;
}

svg {
	position: absolute;
	margin-right: 150px;
	margin-top: 12px;
	margin-bottom: 20px;
}

.login {
	margin-left: 500px;
	margin-bottom: 20px;
	width: 200px;
	height: 50px;
	padding: 16px;
	border: 1px;
	font-weight: 400;
	color: rgb(42, 122, 228);
	font-size: 16px;
	border-radius: 5%;
	cursor: pointer;
}

.login a {
	color: rgba(42, 122, 228, 1);
	text-decoration: none;
}

.banner {
	width: 100vw;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	position: relative; /* Change from relative */
	top: 1vw;
}

.banner_image {
	width: 100vw;
	height: 100%;
	object-fit: cover;
}

.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria_productos {
	display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
	width: 90%;
	justify-content: space-around;
	/* Change fromr elative */
	z-index: 1;
	margin-bottom: 20px; /* Add margin for separation */
}

.seccion_productos {
	display: flex;
	flex-direction: column;
}

.seccion_productos > .articulo_img {
	object-fit: cover;
}

.producto_name {
	text-align: center;
	font-size: 16px;
}

.seccion_productos > .precio {
	font-size: 16px;
}

.verProducto {
	text-decoration: none;
	font-weight: 400;
	color: rgba(42, 122, 228, 1);
}

/*------------------------------------------footer------------------------------------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: rgba(185, 204, 220, 0.519);
	padding: 30px;
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
	height: 300px; /* Adjust height as needed */
}

#footer_logo {
	/* Replace # with ID of img element if needed */

	bottom: 25%;
}

.footer_menu {
	width: 100%;
}

.footer_menu > .menu_lista {
	list-style: none;
	overflow: hidden;
}

.menu_lista > li {
	font-size: 18px;
}

.menu_lista > li > a {
	display: block;
	color: rgba(70, 70, 70, 1);
	text-decoration: none;
	padding: 10px;
}

/*.menu_lista >li:hover{
    font-size: 20px;
    transition: all 1s ease-in-out;

}*/

.footer_contacto {
	float: right;
	flex-direction: column;
	display: flex;
	width: 50%;

	bottom: 80px;
}

.footer_contacto > label {
	font-size: 18px;
	padding: 2px;
}

.footer_contacto > input {
	font-size: 15px;
	padding: 10px;
	margin: 5px;
	border: none;
}
.footer_contacto > textarea {
	font-size: 15px;
	margin: 3px;
	border: none;
}

.footer_contacto > button {
	margin: 2px;
	padding: 5px;
	background-color: rgba(42, 122, 228, 1);
	color: #f5f5f5;
	font-size: 16px;
	width: 150px;
	height: 50px;
}

.datos_desarrollador {
	margin: 4px;
	top: 120px;
	background-color: #f5f5f5;
	width: 500px;
	height: 50px;
	padding: 10px;
	text-align: center;
	left: 500px;
}
