
body{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
}

.logo{
    position:relative;
    left: 10%;
    top: 2%;
}

.buscar{
    position:relative;
    left: 15%;
    top: 3%;
    border-radius: 50px;
    width: 25%;
    height: 30px;
    padding: 12px;
    background-color: #F5F5F5;
    font-size: 16px;
    border: none;

}
svg{
    position:relative;
    left: 12%;

}

.login{
    position: relative;
    left: 30%;
    top: 20%;
    width: 200px;
    height: 50px;
    padding: 16px;
    border: 1px;
    font-weight: 400;
    color: rgb(42, 122, 228);
    font-size: 16px;
    border-radius: 5%;
    cursor: pointer;
}
    
.login a{
    color: rgba(42, 122, 228, 1);
    text-decoration: none;
}

.banner {
    width: 100vw;
    justify-content: center;
    display: flex;
    position: relative; /* Change from relative */
    top: 1vw;
}

.banner_image{
    width: 90vw;
    height: 100%;
    object-fit: cover;
}

.galeria_productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    margin: 0 auto;
    justify-content: space-around;
    height: 20vw;
    position: relative; /* Change fromr elative */
    top: 5vw;
    z-index: 1;
    margin-bottom: 20px; /* Add margin for separation */
}

.seccion_productos{
    display: flex;
    flex-direction: column;
}

.seccion_productos > .articulo_img{
    object-fit: cover;
}

.producto_name{
    text-align: center;
    font-size: 16px;
}

.seccion_productos > .precio{
    font-size: 16px;
}

.verProducto{
    text-decoration: none;
    font-weight: 400;
    color:rgba(42, 122, 228, 1);
}


/*------------------------------------------footer------------------------------------------------*/
footer {
    
    background-color: rgba(185, 204, 220, 0.519);
    padding: 100px;
    position:relative;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px; /* Adjust height as needed */
}

#footer_logo { /* Replace # with ID of img element if needed */
   
   position: relative;
   bottom: 25%;

}

.footer_menu{
    width: 100%;
    position: relative;
   
}

.footer_menu > .menu_lista{
    list-style: none;
    overflow: hidden; 
}

.menu_lista >li{
    font-size: 18px;
    
}

.menu_lista >li >a{
    display: block; 
    color: rgba(70, 70, 70, 1);
    text-decoration: none;
    padding: 10px;
}

/*.menu_lista >li:hover{
    font-size: 20px;
    transition: all 1s ease-in-out;

}*/

.footer_contacto{
    float: right;
    flex-direction: column;
    display: flex;
    width: 50%;
    position: relative;
    bottom: 80px;
}

.footer_contacto >label{
    font-size: 18px;
    padding: 2px;
}

.footer_contacto > input{
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border: none;
    
}
.footer_contacto>textarea{
    font-size: 15px;
    margin: 3px;
    border: none;
}

.footer_contacto > button{
    margin: 2px;
    padding: 5px;
    background-color: rgba(42, 122, 228, 1);
    color: #F5F5F5;
    font-size: 16px;
    width: 150px;
    height: 50px;
}

.datos_desarrollador{
    position: relative;
    margin: 4px;
    top: 120px;
    background-color: #F5F5F5;
    width: 500px;
    height: 50px;
    padding: 10px;
    text-align: center;
    left: 500px;
}