/* 
font-family: 'Playpen Sans', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Young Serif', serif;

font-family: 'Playpen Sans', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Young Serif', serif;
*/


.logo-img{
    position: absolute;
    top: 5%;
    left: 2%;
    right: 50%;
    width: 50%;
    padding: 5px;
}

.info{
    position: absolute;
    top: 5%;
    left: 52%;
    right: 2%;
    padding: 25px;
}

.info h3{
    font-family: 'Playpen Sans', cursive;
    font-size: 15px;
    align-items: center;

}

.info p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

}

.anuncio{
    font-family: 'Roboto Mono', monospace;;
}


.relog-formato{
    margin-right: 10px;
    padding: 5px;
    float: left;
    width: 100px; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(197, 176, 61, 0.666);
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

.termino{
    font-family: 'Roboto Mono', monospace;
}